<div class="oj-hybrid-padding">
    <h3 data-bind="text: oj.Translations.getTranslatedString('events')">events</h3>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-sm-12 oj-flex-item oj-panel">         
            <table id="table" summary="Past and upcoming events" aria-label="Past and upcoming events"
                   data-bind="ojComponent: {component: 'ojTable', 
                            data: datasource, 
                             rowTemplate: 'row_template', 
                            columnsDefault: {sortable: 'enabled'},
                            columns: [{headerText: oj.Translations.getTranslatedString('heldOn'), 
                                       field: 'heldOn', template: 'heldOn', style: 'width: 15%'},
                                      {headerText: oj.Translations.getTranslatedString('name'), 
                                       field: 'name'},
                                      {headerText: oj.Translations.getTranslatedString('speaker'), 
                                       field: 'speaker'}],  rootAttributes: {'style':'width: 100%;'}}">
            </table>
            <script type="text/html" id="row_template">
                <tr>
                    <td>
                        <div data-bind="ojComponent: {component: 'ojRowExpander',  context: $rowContext}"></div>
                        <!-- ko if: heldOn !== null -->
                        <input data-bind="ojComponent: {component: 'ojInputDateTime', value:heldOn, readOnly: true}"/>
                        <!-- /ko -->
                    </td>
                    <td>
                        <span data-bind="text: name"></span>
                    </td>
                    <td>
                        <span data-bind="text: speaker"></span>
                    </td>
                </tr>
                </script>
                <script type="text/html" id="heldOn">
                    <td>
                        <input data-bind="ojComponent: {component: 'ojInputDateTime', value:heldOn, readOnly: true}"/>
                    </td>
                    </script>
                </div>
            </div>
        </div>