<div class="oj-hybrid-padding">
  <h3 data-bind="text: oj.Translations.getTranslatedString('posts')">posts</h3>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-sm-12 oj-flex-item oj-panel">       
   <table id="table" summary="Department List" aria-label="Departments Table"
           data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columns:
            [{headerText: 'Department Id', field: 'DepartmentId'},
             {headerText: 'Department Name', field: 'DepartmentName'},
             {headerText: 'Location Id', field: 'LocationId'},
             {headerText: 'Manager Id', field: 'ManagerId'}], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 15}">
    </div>
  </div>
</div>
</div>
