@font-face {
  font-family: 'AppFont';
  src: url("fonts/App_iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.demo-icon-font, .demo-icon-font-24 {
  font-family: AppFont;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  font-weight: normal;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.demo-icon-font:before, .demo-icon-font-24:before {
  display: inline-block;
}

.demo-icon-font-24 {
    font-size: 24px;
}

.demo-bookmark-icon-16:before {
    content: "\e606";
}

.demo-grid-icon-16:before {
    content: "\e607";
}

.demo-list-icon-16:before {
    content: "\e608";
}

.demo-gear-icon-16:before {
    content: "\e609";
}

.demo-filter-icon-16:before {
    content: "\e907";
}

.demo-share-icon-16:before {
    content: "\e90a";
}

.demo-home-icon-24:before {
    content: "\e600";
}

.demo-education-icon-24:before {
    content: "\e601";
}

.demo-catalog-icon-24:before {
    content: "\e602";
}

.demo-palette-icon-24:before {
    content: "\e603";
}

.demo-library-icon-24:before {
    content: "\e604";
}

.demo-chat-icon-24:before {
    content: "\e605";
}

.demo-edit-icon-24:before {
    content: "\e906";
}

.demo-fire-icon-24:before {
    content: "\e908";
}

.demo-person-icon-24:before {
    content: "\e909";
}

.demo-signout-icon-24:before {
    content: "\e90b";
}

.demo-info-icon-24:before {
    content: "\e900";
}

.demo-copy-icon-24:before {
    content: "\e901";
}

.demo-people-icon-24:before {
    content: "\e902";
}

.demo-chart-icon-24:before {
    content: "\e903";
}

.demo-garbage-icon-24:before {
    content: "\e904";
}

.demo-download-icon-24:before {
    content: "\e905";
}

.template, .hide {
    display:none;
}